<!DOCTYPE html>
<html>
<head>
  <title>Illlocation</title>
  <%= stylesheet_link_tag    "illlocation/application", media: "all" %>
  <%= javascript_include_tag "illlocation/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
